# This file forces Streamlit to install the EXACT versions of ALL libraries
# that were present during training, which solves all version mismatch errors.
pandas==2.0.3
numpy==1.25.2
scikit-learn==1.3.0
lightgbm==4.1.0
catboost==1.2.2
joblib
streamlit




